body{
  background-color: #00283c;
}

h1{
  text-align: center;
  color: darkorange;
  font-family: 'Poppins', sans-serif;
  
}

h2 {
  text-align: center;
  color: darkorange;
}

h3{
  color: antiquewhite;
}

div#h1{
  margin-top: 40px;
}

label{
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
}

h4{
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
#divSelect{
  margin-top: 15px;
  margin-bottom: 20px;
}

label.h6{
  font-size: 14px;
  margin-top: 15px;
}

div#form{
  margin-top: 30px;
  border-style: double;
  border-color: darkorange;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  align-self: center;
  padding: 15px;
}

div#divWall{
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom-style: double;
  border-color: darkorange;
  
}

div#quotation {
  margin-top: 30px;
  padding-bottom: 15px;
  background-color: whitesmoke
}

h2#presupuesto {
  padding: 50px;
  color: darkorange;
  font-weight: bold;
}